* {
  overflow: hidden;
}

main {
  height: 100%;
  background-color: #E6ECF0;
}

#article-hunter-header p {
  color: #95a5a6;
}

#results-div {
  height: 100%;
}

#feed-selector-div {
  height: 90%;
}

#feed-selector {

}
#feed-selector ul {

}

.hunter-button {
  padding: 15px 15px;
  border-bottom: 1px solid #cfdbe2;
  color: #868784;
  transition: all 0.3s;
  cursor: default;
}
.hunter-button:hover {
  /*color: #1B1B1E;*/
  background-color: #16a085;
  color: white;
  transition: all 0.3s;
}
#setting-icon {
  transition: all 0.3s;
}

#search-results {
  background-color: #F7F9F9;
  height: 100%;
  border-top-left-radius: 10px;
  cursor: default;
}

/* FEED SELECT BAR */
.active-feed {
  background-color: #16a085;
  color: white;
}


#keyword-div {
  padding-top: 20px;
}

#page-select {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #cfdbe2;
}
.page-button {
  background-color: #16a085;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  padding: 3px 7px;
  margin: 0 3px;
  cursor: default;
  color: white;
  display: none;
}

.display {
  display: inline;
}


/* FEED SELECT BAR END */

/* ERROR */

#article-hunter-error, .article-hunter-info {
  padding-top: 50px;
  color:black;
}

/* ERRORS END */


/* KEYWORD SELECT */
.keyword-select-ul {

}
.keyword-select-li {
  display: inline-block;
  padding: 5px 15px;
  border-right: 1px solid #e2e9e9;
}
.keyword-select-li:last-child {
  border: none;
}

/* KEYWORD SELECT END */

/* ARTICLE DISPLAY DIVS */
.article-div {
  padding: 10px;
}
.article-title {
  text-transform: capitalize;
  color: #1B1B1E;
}
.article-tags {
  font-size: 12px;
  color: #868784;
}
.article-matched {
  text-transform: capitalize;
  font-size: 12px;
  color: #868784;
}



/* SETTINGS PAGE */

#search-settings-header {
  font-size: 24px;
}

/* SETTINGS PAGE END */
